<div class="flex-1 flex items-center justify-center px-2 lg:ml-6 lg:justify-end">
  <%= form_tag path, method: :get, id: "people-search" do %>
    <%= hidden_field_tag :direction, params[:direction] %>
    <%= hidden_field_tag :sort, params[:sort] %>
    <div class="max-w-lg w-full lg:max-w-xs">
      <label for="search" class="sr-only">Search</label>
      <div class="relative">
        <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
          <%= render "magnifying_glass_icon" %>
        </div>
        <input id="search"
               name="search"
               class="person-search"
               placeholder="Search"
               type="search"
               value="<%= params[:search] %>">
      </div>
    </div>
  <% end %>
</div>
