<div class="bg-white px-4 py-5 border-b border-gray-200 sm:px-6">
  <div class="-ml-4 -mt-2 flex items-center justify-between flex-wrap sm:flex-nowrap">
    <div class="ml-4 mt-2">
      <h3 class="text-lg leading-6 font-medium text-gray-900">
        People Data
      </h3>
    </div>
    <%= render "search", path: root_path, params: params %>
    <%= render "import_data", path: data_import_path %>
    <%= render "delete_data", path: data_import_path %>
  </div>
</div>
<div class="px-4 py-5 sm:p-6">
  <div class="flex flex-col">
    <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
        <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
          <table class="min-w-full divide-y divide-gray-200">
            <thead class="bg-gray-50">
              <tr>
                <%= @people.sortable_headers %>
              </tr>
            </thead>
            <tbody>
              <%= render @people %>
            </tbody>
          </table>
        </div>
        <%= paginate @people %>
      </div>
    </div>
  </div>
</div>

