<!DOCTYPE html>
<html>
  <head>
    <title>Sentia Coding Test</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag "application", "data-turbolinks-track": "reload" %>
    <%= javascript_pack_tag "application", "data-turbolinks-track": "reload" %>
  </head>

  <body>
    <div class="flex items-center justify-center h-screen">
      <div class="w-3/4 h-2/3">
        <% if flash[:success] %>
          <%= render "success_message", message: flash[:success] %>
        <% end %>
        <% if flash[:error] %>
          <%= render "error_message", message: flash[:error] %>
        <% end %>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
